.Ai-section{
    width: 100%;
    height: 50vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.section__title{
    margin-bottom: 20px;
    color: #aaa;
}
.visit__description{
    margin-bottom: 40px;
    color: #aaa;

}
.button{
    padding: 15px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: #333;
    font-weight: 600;
    width: 175px;
    display: inline-block;
    transition: 0.4s;
}
.button:hover{
    background-color: #ffd700;
}